html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8e24aa;
  /* background: linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%); */
  background-image: linear-gradient(
    109.6deg,
    rgba(112, 246, 255, 0.33) 11.2%,
    rgba(221, 108, 241, 0.26) 42%,
    rgba(229, 106, 253, 0.71) 71.5%,
    rgba(123, 183, 253, 1) 100.2%
  );
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: monospace;
}

.display__time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: #fff;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(
    226.4deg,
    rgb(52, 255, 1) 24.9%,
    rgba(254, 155, 1, 1) 33%,
    rgba(255, 241, 0, 1) 48.6%,
    rgba(34, 218, 1, 1) 65.3%,
    rgb(212, 254, 0) 80.6%,
    rgb(254, 63, 248) 100.1%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
  outline: 0;
  color: #333;
  font-size: 15px;
  border-radius: 5px;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: monospace;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display__end-time {
  font-size: 4rem;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(4, 240, 40) 17.8%,
    rgb(251, 247, 247) 100.2%
  );
}
